<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<form action="/view/author" method="get">
    <table>
        <tr>
            <td><label for="author_uuid">Author ID</label></td>
            <td><input id="author_uuid" type="text" name="uuid"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>